.user-user {
  width: 20dvw;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding: 8px 20px;
  border-radius: 15px;
  justify-content: space-between;
  border: 1px solid transparent;
}
.user-container {
  width: auto;
  gap: 10px;
  display: flex;
  align-items: center;
}
.user-user-image {
  width: 32px;
  height: 22px;
}
.user-container1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.user-text {
  height: auto;
  text-align: left;
  line-height: 28px;
}
.user-text2 {
  height: auto;
  text-align: left;
  line-height: 24px;
}
.user-settings-icon {
  width: 29px;
  height: 29px;
}

.cl-userButtonBox {
  pointer-events: none;
}
