.collaborators-collaborators {
  width: 329px;
  height: 180px;
  display: flex;
  padding: 20px;
  position: relative;
  align-items: flex-start;
  border-radius: 15px;
  flex-direction: column;
  justify-content: space-between;

  grid-area: 1 / 3 / 2 / 3;
}

.collaborators-title {
  height: auto;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  font-stretch: normal;
  letter-spacing: -0.01em;
}

.collaborators-container {
  gap: 5px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.collaborators-count {
  height: auto;
  width: 2ch;
  text-align: left;
  line-height: 24px;
}

.collaborators-text1 {
  height: auto;
  text-align: left;
  line-height: 24px;
}

.collaborators-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}

.collaborators-collaborator-image {
  width: 31px;
  height: 31px;
  margin-right: -8px;
}

.collaborators-collaborator-image1 {
  width: 31px;
  height: 31px;
  margin-right: -8px;
}

.collaborators-collaborator-image2 {
  width: 31px;
  height: 31px;
  margin-right: -8px;
}

.collaborators-collaborator-image3 {
  width: 31px;
  height: 31px;
  margin-right: -8px;
}

.collaborators-collaborator-image4 {
  width: 31px;
  height: 31px;
  margin-right: -8px;
}

.collaborators-collaborator-image5 {
  width: 31px;
  height: 31px;
}

.collaborators-plus-icon {
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  position: absolute;
}