.docs-docs {
  width: 329px;
  height: 342px;
  display: flex;
  padding: 20px;
  position: relative;
  align-items: flex-start;
  border-radius: 15px;
  flex-direction: column;
  justify-content: space-between;

}
.docs-title {
  height: auto;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  font-stretch: normal;
  letter-spacing: -0.01em;
}
.docs-container {
  width: 100%;
  height: 226px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;

}
.docs-container1 {
  gap: 16px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.docs-text1 {
  color: var(--dl-color-textos-light);
  height: auto;
  text-align: left;
  line-height: 28px;
}
.docs-text3 {
  color: var(--dl-color-textos-light);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.docs-container2 {
  gap: 16px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.docs-container3 {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  border-radius: 6px;
  padding-right: 16px;
  justify-content: space-between;
  background-color: #D9D9D9;
}
.docs-container4 {
  gap: 16px;
  display: flex;
  align-items: center;
}
.docs-sheet-icon {
  width: 16px;
  height: 20px;
}
.docs-text5 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.docs-download-icon {
  width: 18px;
  height: 18px;
}
.docs-container5 {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  border-radius: 6px;
  padding-right: 16px;
  justify-content: space-between;
  background-color: #D9D9D9;
}
.docs-container6 {
  gap: 16px;
  display: flex;
  align-items: center;
}
.docs-figma-icon {
  width: 20px;
  height: 24px;
}
.docs-text7 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.docs-link-icon {
  width: 18px;
  height: 18px;
}
.docs-plus-icon {
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  position: absolute;
}
