.meetings-meetings {
  width: 329px;
  height: 342px;
  display: flex;
  padding: 20px;
  position: relative;
  align-items: flex-start;
  border-radius: 15px;
  flex-direction: column;
  justify-content: space-between;

}
.meetings-title {
  height: auto;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  font-stretch: normal;
  letter-spacing: -0.01em;
}
.meetings-container {
  width: 292px;
  height: 226px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;

}
.meetings-container1 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.meetings-text1 {

  height: auto;
  text-align: left;
  line-height: 28px;
}
.meetings-text3 {
  height: auto;
  text-align: left;
  line-height: 22px;
}
.meetings-collaborators {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.meetings-collaborator-image {
  width: 31px;
  height: 31px;
  margin-right: -8px;
}
.meetings-collaborator-image1 {
  width: 31px;
  height: 31px;
  margin-right: -8px;
}
.meetings-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.meetings-schelude {
  height: auto;
  text-align: left;
  line-height: 14px;
}
.meetings-container3 {
  width: 257px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.meetings-textinput {
  top: 0px;
  left: 0px;
  width: 203px;
  height: 28px;
  display: flex;
  position: absolute;
  border-radius: 6px;
  background-color: var(--dl-color-ours-light-over);
}
.meetings-button {
  gap: 10px;
  top: 0px;
  left: 184.71875px;
  width: 72.28125px;
  height: 28px;
  display: flex;
  padding: 8px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: row;
  justify-content: center;

}
.meetings-text6 {
  color: var(--dl-color-textos-light);
  height: auto;
  text-align: left;
  line-height: 14px;
}
.meetings-plus-icon {
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  position: absolute;
}
