.cl-internal-2iusy0{
    justify-content: center;
    }
    .cl-input {

        border: 2px solid red;

    }
    .cl-cardBox{
       box-shadow: none;
       
 }
       .cl-socialButtons {

        display: grid;
        grid-template-columns:1;
       
      }
      
      
      .cl-button {
        display: flex;
        justify-content: center;
        width: 300%;
        grid-column-start: 1 ;
      }
      .cl-formButtonPrimary{
        width: 100%;
        grid-column-start: 1 ;
      }
   
    .cl-formFieldLabel{
        color: #007dfa;  
        justify-content: flex-start; 
        margin-bottom: -5%;
        background-color: white;
        width: 40%;
        z-index: 5;
        padding-left: 5%;
        padding-right: -5%;
         } 

         .cl-socialButtons {

  display: grid;
  grid-template-columns:1;
 
}


.cl-button {
  display: flex;
  justify-content: center;
  width: 300%;
  grid-column-start: 1 ;
}
.cl-formButtonPrimary{
  width: 100%;
  grid-column-start: 1 ;;
}

.cl-formFieldInput{
    background-attachment: fixed;
    border: 4px solid #007dfa;
    
} 
   