.ant-select-selection-search-input{
    color: "red";
    opacity: 1
}
.ant-select .ant-select-outlined .ant-select-in-form-item .css-dev-only-do-not-override-1uq9j6g .ant-select-focused .ant-select-single .ant-select-show-arrow .ant-select-open{

color: "red"
}