
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.task-task {
  width: 203px;
  height: 137px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;

}

.task-issue {
  height: auto;
  text-align: left;
  line-height: 28px;
  font-weight: 600;

  font-family: Inter;
}

.task-team {
  height: auto;
  text-align: left;
  line-height: 22px;
}

.task-collaborators {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.task-collaborator-image {
  width: 31px;
  height: 31px;
  margin-right: -8px;
}

.task-collaborator-image1 {
  width: 31px;
  height: 31px;
  margin-right: -8px;
}

.task-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.task-status {
  gap: 8px;
  width: auto;
  height: 16px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 1;
}

.task-in-progress {
  width: 16px;
  height: 16px;
  display: flex;
  border-radius: 3px;
  background-color: var(--dl-color-ours-secondary-normal);
}

.task-text3 {

  height: auto;
  width: 11ch;
  text-align: left;
  line-height: 14px;
}

.task-container1 {
  gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.task-message-icon {
  width: 20px;
  height: 20px;
}

.task-text5 {

  height: auto;
  width: auto;
  text-align: left;
  line-height: 28px;
}