.tasks-tasks {
  width: 679px;
  height: 252px;
  display: flex;
  padding: 20px;
  position: relative;
  align-items: flex-start;
  border-radius: 15px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-ours-primary-dark);
  grid-column: 1 / span 2;
}
.tasks-title {

  height: auto;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  font-stretch: normal;
  letter-spacing: -0.01em;
}
.tasks-tasks-list {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.tasks-plus-icon {
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  position: absolute;
}
